<h3>Courses</h3>

<div class="ui raised segment">
    <div class="ui form">
        <div class="three fields">
            <div class="field">
                <label>Name</label>
                {{input type="text" value=name}}
            </div>
            <div class="field">
                <label>Rating</label>
                {{input type="number" value=rating}}
            </div>
            <div class="field">
                <label>Comments</label>
                {{input type="text" value=comment}}
            </div>
        </div>
        <button class="ui green button" disabled={{inputsAreInvalid}} {{action 'addRating'}}>
            Add Rating
        </button>
    </div>
</div>

{{#each model as |course|}}
    <div class="ui segment">
        <h4>{{course.name}}</h4>
        <p>
          {{course.rating}} / 5 - {{course.comment}}
        </p>
    </div>
{{/each}}